.button:hover {
    -fx-background-color: #0c336c;
    -fx-border-color: transparent;
}

.button {
    -fx-background-color: #458FFF;
    -fx-border-color: transparent;
}

.background {
    -fx-background-color: linear-gradient(to left,cornflowerblue,lightblue);
}

.logScreen{
    -fx-background-color: linear-gradient(to left,blueviolet,darkmagenta);
}
